.button {
  background-color: var(--theme-button);
  color: var(--theme-background);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 24px 4px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 0.6px;
  font-weight: 600;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: 200ms ease all;
  transform: scale(1);
  text-decoration: none;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}
