.header {
  display: block;
  width: 100%;
  padding: 48px 40px 16px 40px;
  font-weight: 600;
  max-width: 1120px;
  margin: 0 auto 0 auto;

  @media (max-width: 728px) {
    width: 100%;
    padding: 48px 24px 16px 24px;
  }
}
