.input {
  -webkit-appearance: none;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 0 16px 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0px 1px 4 px rgba(0, 0, 0, 0.07);

  &:focus {
    outline: 0;
    border: 0;
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
  }
}
