.tip {
  background: var(--theme-tip-default);
  color: var(--light-background);
  padding: 8px 16px 8px 16px;
  font-weight: 400;
  margin-bottom: 16px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
